.logo{
    max-width: 70px;
    max-height: 70px;
}

.navStyle{
    display: flex;
    width: 100%;
    color: rgb(0, 0, 0);
    height: 8vh;
    min-height: 4.6rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #b477dd;
    border: 5px groove #ad63df;
}

.buscar{
    text-align: right;
}

.itemsMenu{
    font-style: oblique;
    background-color: #c89fe4;
    border: 5px groove #ad63df;
    border-radius: 5px;
}

.items{
    font-family: 'Courier New', Courier, monospace;
}